<footer class="footer mt-auto">
  <div class="containerc">
      <div class="d-flex bd-highlight align-content-center justify-content-center bg-dark py-4">
          <p class="fs-4 fw-bold text-white align-content-center">FOOTER</p>
      </div>
  </div>
</footer>
<script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>