<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teng Teng</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<header class="d-flex justify-content-center py-3 bg-secondary">
    <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link active bg-danger" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="/form" class="nav-link text-white">Form</a></li>
        <li class="nav-item"><a href="#" class="nav-link text-white">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link text-white">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link text-white" >About</a></li>
    </ul>
</header>